
@{
    ViewBag.Title = "한글 이름 -> 로마자 변환 | NAVER-API";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-header">
    <h1>한글 이름 -> 로마자 변환</h1>
</div>

<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="text" class="form-control" id="korean-name" placeholder="이름 입력">
    </div>
    <a id="btnConvert" class="btn btn-default">검색</a>
</form>

<h2>전체 목록 표시</h2>